/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 100px auto 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header, section {
    margin-bottom: 40px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

/* Navbar Styles */
nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #555;
    border-radius: 5px;
}

/* Section Styles */
.skills, .experience ul, .projects ul {
    list-style: none;
    padding: 0;
}

.skills li, .experience ul li, .projects ul li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-left: 4px solid #333;
    border-radius: 5px;
}

.skills li {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}

.education p, .experience p, .projects p {
    margin: 5px 0;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px;
    }
}
